{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<style>
    div {
    line-height: 70px;
    }
</style>
<form method="post">
    {% if error %}
        <div class="card-panel red"><strong style="color:white">{{ error.messageKey|trans(error.messageData, 'security') }}</strong></div>
    {% endif %}
    
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputUsername" class="sr-only">Username</label>
    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html
 #}
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" class="filled-in" name="_remember_me">
                <span>Remember me</span>
            </label>
        </div>
   

    <button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button>
</form>
<div class="styles__more__3Rrtw">
    <a  href="{{ path('app_forgotten_password') }}">Forgotten password</a>
    |
    <a href="{{ path('app_subscribe') }}">Create Account</a>
</div>
{% endblock %}
